/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ********************* reset added ************************* */


html{
    font-size: 16px;
    font-family: open sans;
}

img {
    width: 100%;
    height: auto;
}

header {
    background-color: black;
    padding: 5px;
}
.three{
    background-color: #c78c06;
}
.threestarimg{
    /* background-color: #c78c06; */
}
.headtop{
    background-color: #222;
}

nav ul li{
    padding:10px;
    color: #c78c06;
    width:100% ;
    display:flex;

}
nav ul li:hover{
    background-color: #c78c06;
    color: #222;
}
a{
    margin:auto;
    color:#c78c06;
    text-decoration: none;
    text-align: center;
    white-space:nowrap ;
}
a:hover{
    color:#222;
}
.material-symbols-outlined{
    color:#c78c06;
    font-size: 25px;
}
form span{
    border:1px solid #c78c06;   
}

#home {
    background-image:url('../images/main-banner.jpg');
  
}
 
main,header,footer{
    margin-inline: 132px;
}
#vision{
    background-image:url('../images/vision.jpg');
    background-size: 100% auto;
    background-position: center;
    color:white;
}

.homebox{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        justify-content: space-between;
      }

 header img{
   max-width: 150px;
 }
  

#Fullname,
#Email{
    width:100%;
    height: 2em;   
}
#Message{
    width:100%;
    height: 6em; 
}
.sm{
    padding: 10px;
    margin: 10px;
}

.container{
/* makes sure content stays within 1200px */
    max-width: 1200px;
    margin: 0 auto;
    /* background-color:#ffe6ac; */
}

#searchbar{
    /* width: 92%; */
    height: 50px;
    border:none;
}


.greyfloat { 
    background-color:rgba(0,0,0,0.5); 
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


h1{
    font-size: 4.5em;
    font-weight: 500;
    color:white;
    /* background-color:rgba(0,0,0,0.5);  */
    width:100%;
}
.p1{
    color:white;
}

.btn1{
   text-decoration:none;
   display:inline-block;
   padding: 40px;
   margin: 10px;
   color:inherit;
   background-color: #c78c06;
   border-bottom:5px;  
}

.container img{
    width:95%;
    border: 10px;
    margin: 10px;
    padding:5px
}
h2{
    font-size:2.5em;
    font-weight: 500;
    padding: 5px;
}
p{
    padding:10px;
    line-height: 1.5em;
    
 }

 .container img{
    width:100%;
 /* margin-top: 10px; */
    margin:0 auto;
    }
 
  h3{
    font-size: 1.25em;
    font-weight: 500;
    margin:10px;
    
 }

.btn2{
    display:inline-block;
    padding: 30px;
    margin:10px;
    background-color: #222;
    color:white;
}


h4{
    font-size: 1.25em;
    font-weight: 500;
    padding: 10px;
    margin: auto;
}

.btn3{
    display:inline-block;
    background-color:#222;
    padding:30px;
    margin:10px;
    width:130px;
    color:white;
}

.container{
   background-color: #ffe6ac;
    margin-top:10px;
}

.btn4{
    display:inline-block;
    margin:10px;
    padding:30px;
    width:100px;
    background-color: #222;
    color:white;
}


.btn5{
    display:inline-block;
    background-color: hsl(0, 0%, 13%);
    padding:30px;
    margin:10px;
    width:100px;
    color:white;
}

.btn6{
    display:inline-block;
    background-color: #222;
    padding: 35px;
    margin:10px;
    width:100px;
    color:white;
}
.btn7{
    display:inline-block;
    background: transparent;
    border: 1px solid#c78c06;
    padding:35px;
    margin:10px ;
    width:100px;
    color: white;
}


table{
    width:100%;
    max-width: 1200px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
input,textarea{
    margin:10px;
}
th{
    background-color: #ffe6ac;
}
.sendbtn{
    color: #c78c06;
    background-color: #222;
    font-size: large;
    padding: 10px;
    margin: 10px;
}


/* ******************* mobile end start desktop ******************/
/********************* mobile end start desktop ******************/

@media screen and (min-width:760px){

.container intro{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.ourservicegrid{
    display: grid;
    max-width: 1200px;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:2px;
}

.ourservicegrid section{
    width: 100%;
    
}
#teamgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}


.digital{
    grid-column:1/4;
    grid-row:1/2;
}
.marketing{
    grid-column:4/7;
    grid-row:1/2;
}
.video{
    grid-column: 1/3;
    grid-row:2/3;
}
.web{
    grid-column:3/5;
    grid-row:2/3;
}
.print{
    grid-column:5/7;
    grid-row:2/3;
}
    

/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: auto;
} */
.homebox{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    height: auto;
    gap: 25px;
}


/* body > header > div > nav {
    flex-basis: 50%;
    display: flex;
    align-items: center;
} */

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}



.greyfloat { 
    background-color:rgba(0,0,0,0.5); 
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


main h1{
    font-size: 4.5em;
    color:white;
    /* background-color:rgba(0,0,0,0.5);  */
    width:100%;
}
main h2 {
    font-weight: 600;
    font-size: 3rem;
}

.ourservicegrid{
    display: grid;
    max-width: 1200px;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:2px;
}

.ourservicegrid section{
    width: 100%;
    
}
#teamgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}


.digital{
    grid-column:1/4;
    grid-row:1/2;
}
.marketing{
    grid-column:4/7;
    grid-row:1/2;
}
.video{
    grid-column: 1/3;
    grid-row:2/3;
}
.web{
    grid-column:3/5;
    grid-row:2/3;
}
.print{
    grid-column:5/7;
    grid-row:2/3;
}
    


/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: auto;
} */



.container form {
    align-self: center;
}
table{
    border-collapse: collapse;
    width:100%;
    max-width: 1200px;
}

table, th, td {
    border: 1px solid black;
}
  
#contact {
    max-width:1200px;
    margin: 0 auto;
}


#aboutus .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.wrapper{
    display:flex;
    flex-flow: row wrap;
}
   
.map{
    flex-basis: 50%;
}


#aboutus .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.wrapper{
    display:flex;
}
.wrapper .map{
    order:-1;
    flex-basis:50%;
}
.wrapper .contact{
    order:-2;
    flex-basis:50%;
}
.wrapper .table{
    flex-basis: 100%;
}

.container1{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    height: auto; 
    align-items: center;
}

footer{
    background-color: #222;
    color: #c78c06;
    height: 80px;
    line-height: 1.5rem;
    padding:30px;
    margin-top:10px;
}

}
