html{
    font-size: 16px;
    font-family: open sans;
}

.homebox{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width:100%;
        background-color: #222;
      }
        
.box{
        box-sizing: border-box;
        padding: 20px;
        border:none;
        
    } 

 header img{
    width: 100%;
   height: 200px;
    display: block;
 }
  
div a{
    text-decoration:none;
    color:#c78c06 ;
    text-align: center;

   
}


#searchbar{
    width: 580px;;
    height: 35px;
    border:none;
    margin-bottom: 5px;
}


.container1{
    position:relative;
  
    
}

/* .greyfloat{
    position:absolute;
    top:0;
    background-color: #2222225e;
} */


h1{
    /* position:absolute; */
    font-size: 5em;
    color:white;
    background-color:rgba(0,0,0,0.5); 
    width:100%;
    

}

.btn1{
   text-decoration:none;
   display:inline-block;
   padding:20px;
   color:inherit;
   background-color: #c78c06;
   border-bottom:5px;  
}


.container2{
    width: 678px;
    background-color: #ffe6ac;
   
}

.container2 img{
    width:95%;
    border: 10px;
    margin: 10px;
    padding:5px
}
.container2 h2{
    font-size:2.5em;
    padding: 5px;
}
 .container2 p{
    padding:10px;
 }

 .container3{
    width:678px;
    background-color: #ffe6ac;
 }
 .container3 img{
    width:100%;
 }
 
 .container3 h3{
    font-size: 1.25em;
    margin:10px;
    
 }
.container3 p{
   margin:10px;
  }

.btn2{
    display:inline-block;
    padding: 30px;
    margin:10px;
    background-color: #222;
    color:white;
    
}

.container4{
    width:678px;
    background-color: #ffe6ac;
    margin-top: 10px;
}
.container4 img{
    width:100%;
    /* margin-top: 10px; */
}
.container4 h3{
    font-size: 1.25em;
    padding:10px;
}
.container4 P{
    margin:10px;
}
.btn3{
    display:inline-block;
    background-color:#222;
    padding:30px;
    margin:10px;
    width:130px;
    color:white;
}

.container5{
   background-color: #ffe6ac;
    width: 678px;
    margin-top:10px;
}
.container5 img{
    width:100%;
}
.container5 h3,p{
    margin:10px;
}

.btn4{
    display:inline-block;
    margin:10px;
    padding:30px;
    width:100px;
    background-color: #222;
    color:white;
}

.container6{
    margin-top: 10px;
    background-color: #ffe6ac;
    width:678px;
}
.container6 h3,p{
    margin:10px;
}
.btn5{
    display:inline-block;
    background-color: #222;
    padding:30px;
    margin:10px;
    width:100px;
    color:white;
}

.container7{
    margin-top: 10px;
    background-color: #ffe6ac;
    width:678px;
}
.container7 h3,p{
    margin:10px;
}
.btn6{
    display:inline-block;
    background-color: #222;
    padding:30px;
    margin:10px;
    width:100px;
    color:white;
}
.container8{
    /* position: relative; */
    width:680px;

}
.container8 h3{
    /* position:absolute */
}