html{
    font-size: 16px;
}

@media screen and (max-width:576px){
    .box{
        box-sizing: border-box;
        padding: 20px;
        border: none;
        background-color: #c78c06;
    }
}
    